/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/dist/css/bootstrap.css";

/* Importing Bootstrap SCSS file. */
// @import "~bootstrap/scss/bootstrap";

@import "./assets/styles/my-variables.scss";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Import Bootstrap Reboot
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid"; // add the grid

@import "./assets/styles/my-reset.scss";

/* Last import */
@import "./assets/styles/app.scss";

// @import "@angular/material/prebuilt-themes/indigo-pink.css";
// @import "@angular/material/prebuilt-themes/deeppurple-amber.css";
// @import "@angular/material/prebuilt-themes/pink-bluegrey.css";
// @import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "@angular/material/prebuilt-themes/purple-green.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: MuseoModerno, Roboto, "Helvetica Neue", sans-serif;
}
